services:
  mediamtx:
    image: bluenviron/mediamtx:latest-rpi
    container_name: mediamtx
    network_mode: "host"
    privileged: true
    security_opt:
      - apparmor:unconfined
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/video0:/dev/video0
      - /dev/vchiq:/dev/vchiq
      - /dev/media0:/dev/media0
      - /dev/media1:/dev/media1
      - /dev/media2:/dev/media2
      - /dev/media3:/dev/media3
      - /dev/media4:/dev/media4
      - /dev/video0:/dev/video0
      - /dev/video10:/dev/video10
      - /dev/video11:/dev/video11
      - /dev/video12:/dev/video12
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
      - /dev:/dev
      - /dev/shm:/dev/shm
      - ./rover.tail9d0237.ts.net.crt:/rover.tail9d0237.ts.net.crt
      - ./rover.tail9d0237.ts.net.key:/rover.tail9d0237.ts.net.key
    restart: always

  control_server:
    build: .
    container_name: control_server
    working_dir: /app
    privileged: true
    user: "root" # Crucial for vcgencmd access
    group_add:
      - video # Gives access to hardware sensors
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/shm:/dev/shm
      - /run/udev:/run/udev:ro
      - /dev/dma_heap:/dev/dma_heap
      - ./photos:/app/photos
      - /var/run/docker.sock:/var/run/docker.sock
      - ./rover.tail9d0237.ts.net.crt:/cert.crt
      - ./rover.tail9d0237.ts.net.key:/cert.key
    # Give the container permission to touch the hardware
    devices:
      - /dev/vchiq:/dev/vchiq
      - /dev/i2c-1:/dev/i2c-1
      - "/dev/video0:/dev/video0"
      - "/dev/v4l-subdev0:/dev/v4l-subdev0"
      - "/dev/v4l-subdev1:/dev/v4l-subdev1"
      - /dev/media0:/dev/media0
    ports:
      - "3000:3000"
    command: npm start
    networks:
      - rover-net
    depends_on:
      - mediamtx
    restart: always

networks:
  rover-net:
    driver: bridge
