services:
  mediamtx:
    image: bluenviron/mediamtx:latest-rpi
    container_name: mediamtx
    network_mode: "host"
    privileged: true 
    # Add these specific caps for hardware drivers
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/video0:/dev/video0
      - /dev/vchiq:/dev/vchiq
      - /dev/media0:/dev/media0
      - /dev/media1:/dev/media1
      - /dev/media2:/dev/media2
      - /dev/media3:/dev/media3
      - /dev/media4:/dev/media4
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
      - /dev:/dev 
    restart: always

  dashboard:
    image: node:18-slim
    container_name: rover-dashboard
    working_dir: /app
    volumes:
      - ./dashboard:/app
    ports:
      - "3000:3000"
    command: npm start
    networks:
      - rover-net
    depends_on:
      - mediamtx
    restart: always

networks:
  rover-net:
    driver: bridge