services:
  mediamtx:
    image: bluenviron/mediamtx:latest-rpi
    container_name: mediamtx
    network_mode: "host"
    privileged: true
    # Add these specific caps for hardware drivers
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/video0:/dev/video0
      - /dev/vchiq:/dev/vchiq
      - /dev/media0:/dev/media0
      - /dev/media1:/dev/media1
      - /dev/media2:/dev/media2
      - /dev/media3:/dev/media3
      - /dev/media4:/dev/media4
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
      - /dev:/dev
    restart: always

  control_server:
    build: .
    container_name: control_server
    working_dir: /app
    privileged: true
    user: "root" # Crucial for vcgencmd access
    group_add:
      - video # Gives access to hardware sensors
    volumes:
      - ./server:/app
      - /sys:/sys:ro
      # Map the Pi's hardware tools into the container
      - /usr/bin/vcgencmd:/usr/bin/vcgencmd
      - /usr/lib/arm-linux-gnueabihf/libvchiq_arm.so.0:/usr/lib/arm-linux-gnueabihf/libvchiq_arm.so.0
      - /usr/lib/arm-linux-gnueabihf/libvcos.so.0:/usr/lib/arm-linux-gnueabihf/libvcos.so.0
    # Give the container permission to touch the hardware
    devices:
      - /dev/vchiq:/dev/vchiq
      - /dev/i2c-1:/dev/i2c-1
    ports:
      - "3000:3000"
    command: npm start
    networks:
      - rover-net
    depends_on:
      - mediamtx
    restart: always

networks:
  rover-net:
    driver: bridge
